<ion-view view-title="Friends">
  <ion-content>
  <div class="list">
    <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <h2>Kofi Boakye</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
    <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <h2>Boya Lingo</h2>
      <p>Going for movies</p>
    </a>
  </div>
</ion-view>
<div class="bar bar-footer bar-balanced">
  <button class="button icon-left ion-ios-camera-outline button-positive"> SCAN</button>
  
  <button class="button icon-left ion-ios-barcode-outline button-positive"> SHARE</button>
</div>