<ion-view view-title="Official">
  <ion-content>
    <div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="../img/gallery.jpg">
      <h2>Color = red</h2>
      <h2>Type = dress</h2>
      <h2>Count = 6</h2>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="../img/skyline.jpg">
      <h2>Color = green</h2>
      <h2>Type = shirt</h2>
      <h2>Count = 16</h2>
    </a>

</div>
</ion-view>
<div class="bar bar-footer bar-balanced">
  <button class="button icon-left ion-ios-camera-outline button-positive"> SCAN</button>
  
  <button class="button icon-left ion-ios-barcode-outline button-positive"> SHARE</button>
</div>

