<ion-view view-title="Wedding">
<ion-nav-buttons side="secondary" >
      <button class="button button-icon ion-camera"
              ng-click="addPicture()" >
      </button >
  </ion-nav-buttons >
  <ion-content>
    <div class="list card">

  <div class="item item-avatar">
    <img src="img/d3.jpg">
    <h2>Pretty Hate Machine</h2>
    <p>Nine Inch Nails</p>
  </div>

  <div class="item item-image">
    <img src="img/d4.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-music-note"></i>
    Start listening
  </a>
  

</div>
</ion-view>
<div class="bar bar-footer bar-assertive">
  <button class="button icon-left ion-ios-camera-outline button-positive"> SCAN</button>
  
  <button class="button icon-left ion-ios-barcode-outline button-positive"> SHARE</button>
</div>

